.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: white;

  &__logo {
    position: relative;
    max-width: 21rem;
    width: 100%;
    height: 6.5rem;

    @include responsiveImage;
    img,
    source {
      object-fit: contain;
    }
  }
  &__contactsBox {
    line-height: 1.2;
    text-align: end;
  }
  &__text {
    font-size: 1.6rem;
  }
  &__number {
    font-weight: 700;
    font-size: 2.8rem;
    color: #ff4433;
  }

  &__schedule {
    font-size: 1.4rem;
  }

  .navigation {
    margin: 0 10px 0 30px;
  }
}

.navigation {
  &__link {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.1;
    color: black;
    transition: 0.3s ease;
    &:hover {
      color: #ff6433;
    }
    &:not(:last-of-type) {
      margin-right: 2.8rem;
    }
  }
}
