.contacts {
  &__row {
    display: flex;
    @media (max-width: 1000px) {
      flex-direction: column-reverse;
    }
  }
  &__column {
    flex-basis: 45%;
    margin: 1rem 3rem 0 0;
    @media (max-width: 1000px) {
      margin: 5rem 0 0 0;
    }

    @media (max-width: 480px) {
      margin: 4rem 0 0 0;
    }
  }

  &__logo {
    position: relative;
    max-width: 21rem;
    width: 100%;
    height: 6.5rem;
    @include responsiveImage;
    display: inline-block;

    @media (max-width: 1000px) {
      right: -50%;
      transform: translateX(-50%);
    }
    img,
    source {
      object-fit: contain;
    }
  }
  &__addressBox {
    margin: 5rem 0 4rem 0;
    font-style: normal;
    .contacts__text {
      &:not(:nth-of-type(-n + 2)) {
        margin-top: 3rem;
      }
    }
    @media (max-width: 1000px) {
      margin: 5rem 0 6rem 0;
      text-align: center;
    }

    @media (max-width: 360px) {
      margin: 5rem 0;
      .contacts__text {
        &:not(:nth-of-type(-n + 2)) {
          margin-top: 2rem;
        }
      }
    }
  }

  &__text {
    font-size: 2rem;
    line-height: 1.2;

    &_bold {
      font-weight: 700;
    }

    &_small {
      font-size: 1.6rem;
      margin-top: 2rem;
      @media (max-width: 360px) {
        font-size: 1.6rem;
      }
      &:last-of-type {
        margin: 2rem 0;
      }
    }
  }

  &__map {
    flex-basis: 53%;
    min-height: 100%;
    position: relative;
    @media (max-width: 1000px) {
      height: 36rem;
      flex-basis: auto;
      max-width: 100%;
      width: 100%;
    }

    @media (max-width: 768px) {
      max-width: 63rem;
      margin: 0 auto;
    }

    @media (max-width: 480px) {
      height: 30rem;
    }

    @media (max-width: 360px) {
      height: 26rem;
    }
    iframe {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}
