.feedback {
  &__row {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 4.5rem;
    @media (max-width: 950px) {
      grid-template-columns: 1fr;
      grid-template-rows: min-content min-content;
    }
  }

  &__item {
    padding: 3rem;
    background: rgba(255, 255, 255, 0.85);
    border: 3px solid #ff3d00;
    border-radius: 4px;
  }

  &__text {
    font-size: 2.2rem;
    line-height: 1.4;
    @media (max-width: 480px) {
      font-size: 1.8rem;
    }
  }
}
