.service {
  &__gridBox {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(38rem, 1fr));
    grid-template-rows: auto;
    gap: 5rem;

    @media (max-width: 900px) {
      grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
      justify-items: center;
    }
    @media (max-width: 480px) {
      grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
      gap: 4rem;
    }
  }
  &__button {
    color: black;
    background: #ffffff;
    border: 3px solid #ff3d00;
    margin-top: 6rem;
    transition: 0.3s ease;
    @media (max-width: 900px) {
      display: block;
      margin: 4rem auto 0 auto;
    }
    @media (max-width: 480px) {
      font-size: 2.1rem;
    }
    &:hover {
      color: #ffffff;
      background: #ff3d00;
    }
  }
}
