@mixin backgroundImage {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@mixin responsiveImage {
  img,
  source {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}

@mixin shadow {
  position: relative;
  z-index: 3;
  &:after {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    background: rgba(10, 0, 32, 0.25);
  }

  * {
    z-index: 2;
  }
}
