.button {
  font-family: "Roboto Mono";
  font-size: 2.4rem;
  font-weight: 700;
  padding: 1.5rem;
  min-width: 30rem;
  border-radius: 4px;
  color: #ffffff;
  display: inline-flex;
  justify-content: center;
  font-weight: bold;
  align-items: center;
  align-self: flex-start;
  transition: 0.3s ease;
  &_orange {
    color: #ffffff;
    background-color: #ff6433;
    border: 2px solid #ff6433;
    &:hover {
      color: #ff6433;
      background-color: #ffffff;
    }
  }
  &_purple {
    border: 2px solid #641cff;
    background-color: #641cff;
    &:hover {
      color: #641cff;
      background-color: #ffffff;
    }
  }
}

.mainTitle {
  font-weight: 700;
  font-size: 8rem;
  line-height: 1.2;
  color: #ffffff;
  max-width: 78.5rem;
  margin-bottom: 13vh;
}

.sectionTitle {
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 1.2;
  &_margin {
    margin-bottom: 5rem;
  }
}

.fullHeightBcgrImage {
  @include backgroundImage;
  @include shadow;
}

.fullWidthPicture {
  max-height: 45vh;
  height: 100%;
  width: 100%;
  max-width: 100%;
  img,
  source {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  @include shadow;
}

.cardWithImage {
  position: relative;
  max-width: 40rem;
  width: 100%;
  transition: 0.3s ease;
  &:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 32px 0px #000000;
  }
  &__image {
    height: 100%;
    width: 100%;
    img,
    source {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__text {
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 1.2;
    color: #ffffff;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    background-color: #ff6433;
    min-width: 100%;
    min-height: 8rem;
    padding: 1rem 2.5rem 1rem 3.1rem;
  }
}
