@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular/Roboto-Regular.eot");
  src: local("☺"), url("../fonts/Roboto-Regular/Roboto-Regular.woff") format("woff"),
    url("../fonts/Roboto-Regular/Roboto-Regular.ttf") format("truetype"),
    url("../fonts/Roboto-Regular/Roboto-Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium/Roboto-Medium.eot");
  src: local("☺"), url("../fonts/Roboto-Medium/Roboto-Medium.woff") format("woff"),
    url("../fonts/Roboto-Medium/Roboto-Medium.ttf") format("truetype"),
    url("../fonts/Roboto-Medium/Roboto-Medium.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold/Roboto-Bold.eot");
  src: local("☺"), url("../fonts/Roboto-Bold/Roboto-Bold.woff") format("woff"),
    url("../fonts/Roboto-Bold/Roboto-Bold.ttf") format("truetype"),
    url("../fonts/Roboto-Bold/Roboto-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Mono";
  src: url("../fonts/RobotoMono-Regular/RobotoMono-Regular.eot");
  src: local("☺"), url("../fonts/RobotoMono-Regular/RobotoMono-Regular.woff") format("woff"),
    url("../fonts/RobotoMono-Regular/RobotoMono-Regular.ttf") format("truetype"),
    url("../fonts/RobotoMono-Regular/RobotoMono-Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Mono";
  src: url("../fonts/RobotoMono-Bold/RobotoMono-Bold.eot");
  src: local("☺"), url("../fonts/RobotoMono-Bold/RobotoMono-Bold.woff") format("woff"),
    url("../fonts/RobotoMono-Bold/RobotoMono-Bold.ttf") format("truetype"),
    url("../fonts/RobotoMono-Bold/RobotoMono-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}
