@import "./scss__global/reset.scss";
@import "./scss__global/fonts.scss";

/* global settings */
html,
body {
  font-size: 8.5px;
}

$globalFontFamily: "Roboto";

.wrapper {
  overflow-x: hidden;
  min-height: 100%;
  font-family: $globalFontFamily;
  height: 100%;
  background-color: white;
}

.container {
  max-width: 133.5rem;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 6rem;
  padding-bottom: 6rem;
  width: 100%;
  margin: 0 auto;
  &_fullHeight {
    min-height: 100%;
    height: 100%;
  }
}

@media (max-width: 950px) {
  .body-lock {
    overflow: hidden;
  }

  .body-shadow {
    z-index: 10;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      min-width: 100%;
      min-height: 100%;
      z-index: 7;
      background-color: rgba(0, 0, 0, 0.363);
    }
  }
}

/* global settings */

@import "./scss__global/mixins.scss";
@import "./scss__global/elements.scss";

@import "_#header.scss";

/* sections */
@import "_article.scss";
@import "_contactsSection.scss";

/* separate blocks */
